a{
    text-decoration: none;
}
.fw-bold {
    font-weight: 600 !important;
  }
  label,
  p.red,
  .css-dev-only-do-not-override-1lbabsz,
  .css-dev-only-do-not-override-ld4iw8 {
    font-weight: 600 !important;
  }